In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import NMF

col_post=pd.DataFrame(pd.read_csv('Becuti pre.csv'))

In [2]:
col_post.head()

,Right Vastus lateralis~5,Right Biceps femoris caput longus~5,Right Gastrocnemius lateralis~5,Right Gluteus maximus~5,Right Rectus femoris~5
0,0.065121,0.088197,0.289941,0.328767,0.062069
1,0.064018,0.088197,0.281065,0.333333,0.059770
2,0.062914,0.088197,0.275148,0.333333,0.059770
3,0.061810,0.086900,0.263314,0.333333,0.057471
4,0.059603,0.086900,0.254438,0.333333,0.057471

In [3]:
vasto=col_post.iloc[:,0].to_numpy()
femor=col_post.iloc[:,1].to_numpy()
polp=col_post.iloc[:,2].to_numpy()
glute=col_post.iloc[:,3].to_numpy()
quad=col_post.iloc[:,4].to_numpy()

In [4]:
X=[vasto,femor,polp,glute,quad]

In [5]:
model = NMF(n_components=5, init='random', random_state=0)
W = model.fit_transform(X)
H = model.components_

/Users/alessandro/opt/anaconda3/lib/python3.9/site-packages/sklearn/decomposition/_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

In [6]:
W

array([[1.47523320e-02, 4.02042366e-01, 1.05894044e-01, 1.09392960e+00,
        0.00000000e+00],
       [0.00000000e+00, 5.69483541e-01, 3.15792964e-02, 9.45678164e-04,
        5.27964455e-02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.14959245e-01,
        7.01061650e-01],
       [0.00000000e+00, 0.00000000e+00, 9.15764934e-01, 0.00000000e+00,
        2.85464038e-01],
       [9.37892660e-01, 3.66786416e-01, 0.00000000e+00, 3.54023668e-01,
        1.53018118e-02]])

In [7]:
H.shape
H=[*zip(*H)]

In [8]:
weights=pd.DataFrame(W)
comps=pd.DataFrame(H)

In [9]:
weights.head()

          0         1         2         3         4
0  0.014752  0.402042  0.105894  1.093930  0.000000
1  0.000000  0.569484  0.031579  0.000946  0.052796
2  0.000000  0.000000  0.000000  0.214959  0.701062
3  0.000000  0.000000  0.915765  0.000000  0.285464
4  0.937893  0.366786  0.000000  0.354024  0.015302

In [10]:
comps.head(100)

           0         1         2         3         4
0   0.019355  0.102697  0.229910  0.000000  0.413709
1   0.017550  0.101506  0.238631  0.000000  0.401244
2   0.017942  0.100805  0.241110  0.000000  0.392943
3   0.016537  0.098794  0.246260  0.000000  0.376167
4   0.017296  0.097291  0.249927  0.000000  0.363763
..       ...       ...       ...       ...       ...
95  0.126938  0.004213  0.298846  0.036392  0.144982
96  0.129528  0.004473  0.293797  0.035741  0.145182
97  0.129039  0.006684  0.287381  0.034547  0.149768
98  0.131595  0.006628  0.281039  0.034138  0.154115
99  0.133604  0.009154  0.275912  0.032670  0.154565

[100 rows x 5 columns]

In [11]:
weights.to_excel(excel_writer = "/Users/alessandro/Desktop/weights-bec-pre.xlsx")
comps.to_excel(excel_writer = "/Users/alessandro/Desktop/comps-bec-pre.xlsx")