In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import NMF

col_post=pd.DataFrame(pd.read_csv('Matteis post.csv'))

In [2]:
col_post.head()

,Right Vastus lateralis~5,Right Biceps femoris caput longus~5,Right Gastrocnemius lateralis~5,Right Gluteus maximus~5,Right Rectus femoris~5
0,0.013612,0.267677,0.040816,0.129310,0.004914
1,0.013612,0.267677,0.040816,0.120690,0.004914
2,0.012704,0.267677,0.040816,0.120690,0.004914
3,0.012704,0.267677,0.040816,0.112069,0.007371
4,0.011797,0.267677,0.040816,0.103448,0.007371

In [3]:
vasto=col_post.iloc[:,0].to_numpy()
femor=col_post.iloc[:,1].to_numpy()
polp=col_post.iloc[:,2].to_numpy()
glute=col_post.iloc[:,3].to_numpy()
quad=col_post.iloc[:,4].to_numpy()

In [4]:
X=[vasto,femor,polp,glute,quad]

In [5]:
model = NMF(n_components=5, init='random', random_state=0)
W = model.fit_transform(X)
H = model.components_

/Users/alessandro/opt/anaconda3/lib/python3.9/site-packages/sklearn/decomposition/_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

In [6]:
W

array([[0.10016511, 0.01171302, 0.10566801, 0.61301804, 0.        ],
       [0.30421014, 0.02557502, 0.0844454 , 0.33823479, 0.68446992],
       [0.00573201, 0.00105285, 0.47418762, 0.        , 0.05471067],
       [0.00421813, 0.73354597, 0.19051377, 0.00560166, 0.10184701],
       [0.72146848, 0.01205612, 0.11991824, 0.44457614, 0.        ]])

In [7]:
H.shape
H=[*zip(*H)]

In [8]:
weights=pd.DataFrame(W)
comps=pd.DataFrame(H)

In [9]:
weights.head()

          0         1         2         3         4
0  0.100165  0.011713  0.105668  0.613018  0.000000
1  0.304210  0.025575  0.084445  0.338235  0.684470
2  0.005732  0.001053  0.474188  0.000000  0.054711
3  0.004218  0.733546  0.190514  0.005602  0.101847
4  0.721468  0.012056  0.119918  0.444576  0.000000

In [10]:
comps.head(100)

           0         1         2         3         4
0   0.000000  0.112985  0.041292  0.007320  0.378189
1   0.000000  0.101190  0.041285  0.007579  0.378503
2   0.000000  0.101127  0.041313  0.006607  0.378977
3   0.000000  0.089354  0.041720  0.008692  0.378318
4   0.000000  0.077496  0.041740  0.007978  0.379106
..       ...       ...       ...       ...       ...
95  0.027776  0.012633  0.059476  0.015979  0.134280
96  0.033715  0.011104  0.057769  0.012370  0.148449
97  0.034795  0.010267  0.056859  0.010885  0.156225
98  0.039714  0.008768  0.055207  0.008914  0.170030
99  0.044573  0.008077  0.054411  0.006789  0.176423

[100 rows x 5 columns]

In [11]:
weights.to_excel(excel_writer = "/Users/alessandro/Desktop/weights-mat-post.xlsx")
comps.to_excel(excel_writer = "/Users/alessandro/Desktop/comps-mat-post.xlsx")