In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import NMF

col_post=pd.DataFrame(pd.read_csv('Matteis pre.csv'))

In [2]:
col_post.head()

,Right Vastus lateralis~5,Right Biceps femoris caput longus~5,Right Gastrocnemius lateralis~5,Right Gluteus maximus~5,Right Rectus femoris~5
0,0.050817,0.151515,0.336735,0.068966,0.056511
1,0.049002,0.151515,0.346939,0.060345,0.056511
2,0.048094,0.156566,0.346939,0.060345,0.056511
3,0.047187,0.161616,0.346939,0.060345,0.056511
4,0.046279,0.166667,0.341837,0.051724,0.056511

In [3]:
vasto=col_post.iloc[:,0].to_numpy()
femor=col_post.iloc[:,1].to_numpy()
polp=col_post.iloc[:,2].to_numpy()
glute=col_post.iloc[:,3].to_numpy()
quad=col_post.iloc[:,4].to_numpy()

In [4]:
X=[vasto,femor,polp,glute,quad]

In [5]:
model = NMF(n_components=5, init='random', random_state=0)
W = model.fit_transform(X)
H = model.components_

/Users/alessandro/opt/anaconda3/lib/python3.9/site-packages/sklearn/decomposition/_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

In [6]:
W

array([[1.30354203e-01, 3.93291078e-02, 5.58549586e-01, 3.66648075e-01,
        7.22840148e-03],
       [7.05763385e-01, 7.14767692e-04, 1.83746465e-01, 4.28743242e-02,
        2.11654117e-01],
       [0.00000000e+00, 3.75699486e-02, 8.94352141e-03, 6.53104313e-02,
        5.71500735e-01],
       [5.83330287e-02, 7.56728937e-01, 1.02948380e-01, 0.00000000e+00,
        7.72993100e-02],
       [1.32701216e-01, 1.12484019e-01, 3.02029324e-01, 6.23555517e-01,
        0.00000000e+00]])

In [7]:
H.shape
H=[*zip(*H)]

In [8]:
weights=pd.DataFrame(W)
comps=pd.DataFrame(H)

In [9]:
weights.head()

          0         1         2         3         4
0  0.130354  0.039329  0.558550  0.366648  0.007228
1  0.705763  0.000715  0.183746  0.042874  0.211654
2  0.000000  0.037570  0.008944  0.065310  0.571501
3  0.058333  0.756729  0.102948  0.000000  0.077299
4  0.132701  0.112484  0.302029  0.623556  0.000000

In [10]:
comps.head(100)

           0         1         2         3         4
0   0.028382  0.025268  0.032854  0.064165  0.579693
1   0.024028  0.013098  0.027464  0.069905  0.597776
2   0.032075  0.012947  0.023967  0.069912  0.597839
3   0.040123  0.012797  0.020471  0.069920  0.597903
4   0.050849  0.002039  0.016009  0.071741  0.589544
..       ...       ...       ...       ...       ...
95  0.130497  0.107484  0.094192  0.084510  0.062149
96  0.121558  0.118595  0.101964  0.084581  0.061290
97  0.120064  0.129259  0.108681  0.083659  0.060589
98  0.118569  0.139924  0.115398  0.082737  0.059889
99  0.106636  0.150091  0.124743  0.078914  0.068440

[100 rows x 5 columns]

In [11]:
weights.to_excel(excel_writer = "/Users/alessandro/Desktop/weights-mat-pre.xlsx")
comps.to_excel(excel_writer = "/Users/alessandro/Desktop/comps-mat-pre.xlsx")