In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import NMF

col_post=pd.DataFrame(pd.read_csv('Roletto pre.csv'))

In [2]:
col_post.head()

,Right Vastus lateralis~5,Right Biceps femoris caput longus~5,Right Gastrocnemius lateralis~5,Right Gluteus maximus~5,Right Rectus femoris~5
0,0.025126,0.208333,0.028846,0.060302,0.027027
1,0.025126,0.196429,0.028846,0.060302,0.027027
2,0.025126,0.184524,0.028846,0.060302,0.027027
3,0.025126,0.172619,0.028846,0.060302,0.027027
4,0.027638,0.166667,0.028846,0.065327,0.027027

In [3]:
vasto=col_post.iloc[:,0].to_numpy()
femor=col_post.iloc[:,1].to_numpy()
polp=col_post.iloc[:,2].to_numpy()
glute=col_post.iloc[:,3].to_numpy()
quad=col_post.iloc[:,4].to_numpy()

In [4]:
X=[vasto,femor,polp,glute,quad]

In [5]:
model = NMF(n_components=5, init='random', random_state=0)
W = model.fit_transform(X)
H = model.components_

/Users/alessandro/opt/anaconda3/lib/python3.9/site-packages/sklearn/decomposition/_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

In [6]:
W

array([[0.3941468 , 0.77893543, 0.        , 0.22770811, 0.04301388],
       [0.17344142, 0.10802496, 0.25038974, 0.00699191, 0.9297289 ],
       [0.        , 0.        , 0.19498935, 0.62699992, 0.        ],
       [0.04124179, 0.00849306, 0.86297657, 0.        , 0.02892052],
       [0.5377908 , 0.21273005, 0.        , 0.10039587, 0.05814191]])

In [7]:
H.shape
H=[*zip(*H)]

In [8]:
weights=pd.DataFrame(W)
comps=pd.DataFrame(H)

In [9]:
weights.head()

          0         1         2         3         4
0  0.394147  0.778935  0.000000  0.227708  0.043014
1  0.173441  0.108025  0.250390  0.006992  0.929729
2  0.000000  0.000000  0.194989  0.627000  0.000000
3  0.041242  0.008493  0.862977  0.000000  0.028921
4  0.537791  0.212730  0.000000  0.100396  0.058142

In [10]:
comps.head(100)

           0         1         2         3         4
0   0.022630  0.001791  0.061976  0.026734  0.202758
1   0.024063  0.001828  0.062349  0.026618  0.189583
2   0.025495  0.001865  0.062722  0.026502  0.176407
3   0.026927  0.001901  0.063095  0.026385  0.163231
4   0.026409  0.006411  0.069182  0.024492  0.154777
..       ...       ...       ...       ...       ...
95  0.022525  0.016565  0.103057  0.320674  0.014924
96  0.019715  0.025093  0.109000  0.318826  0.012871
97  0.016905  0.033622  0.114942  0.316978  0.010818
98  0.011461  0.045715  0.114881  0.316997  0.016847
99  0.003703  0.061237  0.120985  0.299763  0.014976

[100 rows x 5 columns]

In [11]:
weights.to_excel(excel_writer = "/Users/alessandro/Desktop/weights-rol-pre.xlsx")
comps.to_excel(excel_writer = "/Users/alessandro/Desktop/comps-rol-pre.xlsx")