In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import NMF

col_post=pd.DataFrame(pd.read_csv('Roletto post.csv'))

In [2]:
col_post.head()

,Right Vastus lateralis~5,Right Biceps femoris caput longus~5,Right Gastrocnemius lateralis~5,Right Gluteus maximus~5,Right Rectus femoris~5
0,0.793970,0.601190,0.134615,0.944724,0.640541
1,0.778894,0.607143,0.134615,0.919598,0.627027
2,0.766332,0.613095,0.134615,0.899497,0.613514
3,0.751256,0.619048,0.134615,0.874372,0.602703
4,0.738693,0.625000,0.134615,0.849246,0.589189

In [3]:
vasto=col_post.iloc[:,0].to_numpy()
femor=col_post.iloc[:,1].to_numpy()
polp=col_post.iloc[:,2].to_numpy()
glute=col_post.iloc[:,3].to_numpy()
quad=col_post.iloc[:,4].to_numpy()

In [4]:
X=[vasto,femor,polp,glute,quad]

In [5]:
model = NMF(n_components=5, init='random', random_state=0)
W = model.fit_transform(X)
H = model.components_

/Users/alessandro/opt/anaconda3/lib/python3.9/site-packages/sklearn/decomposition/_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

In [6]:
W

array([[0.        , 0.6097356 , 0.41438238, 0.64319097, 0.        ],
       [0.77498885, 0.        , 0.        , 0.61203798, 0.40098388],
       [0.        , 0.15519559, 0.        , 0.28771251, 0.53149874],
       [0.        , 0.        , 1.00956849, 0.        , 0.3551369 ],
       [0.13535056, 0.91105642, 0.07349795, 0.        , 0.10755674]])

In [7]:
H.shape
H=[*zip(*H)]

In [8]:
weights=pd.DataFrame(W)
comps=pd.DataFrame(H)

In [9]:
weights.head()

          0         1         2         3         4
0  0.000000  0.609736  0.414382  0.643191  0.000000
1  0.774989  0.000000  0.000000  0.612038  0.400984
2  0.000000  0.155196  0.000000  0.287713  0.531499
3  0.000000  0.000000  1.009568  0.000000  0.355137
4  0.135351  0.911056  0.073498  0.000000  0.107557

In [10]:
comps.head(100)

           0         1         2         3         4
0   0.656517  0.528403  0.927449  0.135732  0.024365
1   0.659327  0.515044  0.902208  0.141232  0.025338
2   0.661651  0.501397  0.882086  0.147612  0.025913
3   0.666100  0.490716  0.856661  0.150694  0.027411
4   0.667377  0.477746  0.832059  0.159324  0.026573
..       ...       ...       ...       ...       ...
95  0.194950  0.014071  0.197717  0.186947  0.583279
96  0.193418  0.014459  0.198355  0.190077  0.581468
97  0.190839  0.015524  0.194512  0.195458  0.578244
98  0.197990  0.017557  0.195035  0.197104  0.576758
99  0.188366  0.019655  0.191123  0.201550  0.573734

[100 rows x 5 columns]

In [11]:
weights.to_excel(excel_writer = "/Users/alessandro/Desktop/weights-rol-post.xlsx")
comps.to_excel(excel_writer = "/Users/alessandro/Desktop/comps-rol-post.xlsx")